.header {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .greeting {
    font-size: 20px;
  }
  
  .datetime {
    font-size: 14px;
  }
  
  .carousel-item {
    width: 400px;
    height: 200px;
    background-color: #ccc;
  }
  
  .card {
    height: 340px;
    width: 300px;
    font-size: 14px;
    background-color: #ff4d4d;
    margin-top: 20px;
  }
  
  .footer {
    background-color: #9a9a9a;
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }
  